html, body {

    /* Maximum height, no margins */
    height: 100%;
    margin: 0;

    /* Background */
    background: #000;

    /* Font */
    font-family: monospace;
    font-size: 16px;
    color: white;
}

body > div {

    /* Maximum height */
    height: 100%;

    /* Allow absolute positioning inside */
    position: relative;

    /* Flexbox */
    display: flex;
    flex-direction: column;
}

.vr {
    display: inline-block;
    background: #5c5c5c;
    width: 1px;
    margin: 0 5px;
    height: 1em;
    vertical-align: middle;
}

button {
    background: none;
    font-family: inherit;
    color: inherit;
    border: none;
    outline: none;
}
a {
    color: inherit;
}

.buttons button {
    font-family: sans-serif;
    background: #6666;
    padding: 10px 20px;
}

#unit-tests {

    /* Hide it by default */
    display: none;
}

#editor-root {

    /* Background */
    background: #222;

}

#editor, #output {

    /* Font */
    font-family: monospace;

    /* Disable outline, it just looks bad */
    outline: none;

    /* Padding */
    padding: 10px;
    box-sizing: border-box;
}

#output {
    white-space: pre-wrap;
    word-break: break-all;
}

#data {
    background: #2c2c2c;
    padding: 10px;
}
#data * {
    padding: 5px;
    box-sizing: border-box;
}

#documentation {
    font-family: sans-serif;
}

#documentation h1 {

    /* View in monospace */
    font-family: monospace;
    font-size: 1.5em;
}

#documentation h1:first-child {
    margin-top: 0;
}

#documentation h2 { font-size: 1.4em }
#documentation h3 { font-size: 1.3em }
#documentation h4 { font-size: 1.2em }
#documentation h5 { font-size: 1.15em }
#documentation h6 { font-size: 1.1em }

#run {
    /* The color of Pepe */
    background: #5A8D3E;
    color: white;

    /* Width of 4 characters (Length of "Stop") */
    width: 4ch;
    box-sizing: content-box;
}

.options, summary {
    margin: 10px;
}
summary {
    padding: 0 5px;
}

.options > * {
    display: flex;
    font-family: monospace;
    font-size: inherit;
    text-align: start;
    box-sizing: border-box;
    border: none;
    width: 100%;
    margin: 4px 0;
    padding: 10px;
    background: #fff2;
}

.options > * > span {
    flex-grow: 1;
}

#suggestions.options > * {
    margin: 2px 0;
    padding: 4px;
    font-size: 0.8em;
    background: #aaa1;
}

#unit-tests .options > :first-child,  /* Interactive */
#unit-tests .options > :last-child    /* New test */
{
    background: #fff4;
    margin: 8px 0;
}
#return {
    display: none;
}

.view {
    /* Maximum height */
    height: 100%;  /* Box */
    flex-grow: 1;  /* Flex */
}

.scroll, .view {

    /* Enable vertical scroll */
    overflow-y: auto;
}

.buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.buttons * {
    vertical-align: middle;
    margin: 6px;
}

.buttons span, .buttons .rename {
    padding: 10px;
    flex-grow: 1;
    text-transform: uppercase;
}

.buttons .rename {
    background: none;
    border: none;
    font: inherit;
    text-transform: none;
}

.action {
    display: none;
}
.action:first-child {
    margin-left: auto;
}
:hover > .action {
    display: block;
}

.float-right {
    float: right;
}

.col-50 {

    /* View each column next to each other */
    float: left;
    width: 50%;

    /* Include border in the width */
    box-sizing: border-box;

    /* No margin */
    margin: 0;
}

@media (max-width: 850px) {

    /* Disable column view on small devices */
    .col-50 {
        float: none;
        width: initial;
    }

    /* Restore doc header margin */
    #documentation h1:first-child {
        margin-top: 1em;
    }

    /* Decrease subroot height */
    body > div {

        height: 50%;

    }

}

/* Syntax highlighting colors */
.comment {
    color: #6a9955;
}

.ignored {
    color: #a2c592;
}

.flag {
    color: #aaa;
}

.invalid {
    text-decoration: #e63838 wavy underline;
}

/* Bugfix for Chrome not showing correct font color */
#editor font {
    color: inherit;
}

/* Output colors */
.info {
    color: #3a9be0;
}

.success {
    color: #5a8d3e;
}

.error {
    color: #e63838;
}

/* Test button colors */
.passed {
    background: #5a8d3e;
}

.failed {
    background: #e63838;
}
