html, body {

    /* Maximum height, no margins */
    height: 100%;
    margin: 0;

    /* Background */
    background: #000;

    /* Font */
    font-family: monospace;
    font-size: 16px;
    color: white;
}

body > div {

    /* Maximum height */
    height: 100%;

    /* Allow absolute positioning inside */
    position: relative;

    /* Flexbox */
    display: flex;
    flex-direction: column;
}

h1, h2, h3, .buttons .rename {
    font-family: monospace;
    margin: 10px;
    flex-grow: 1;
    text-transform: uppercase;
    font-size: 1em;
    font-weight: 400;
}

p {
    margin: 0.5em 0;
}

.vr {
    display: inline-block;
    background: #5c5c5c;
    width: 1px;
    margin: 0 5px;
    height: 1em;
    vertical-align: middle;
}

button {
    background: none;
    font-family: inherit;
    color: inherit;
    border: none;
    outline: none;
}

button:disabled {
    opacity: 0.6;
}

a {
    color: inherit;
}

.buttons button {
    font-family: sans-serif;
    background: #6666;
    padding: 10px 20px;
    margin: 6px;
}

#unit-tests {

    /* Hide it by default */
    display: none;
}

#editor-root {

    /* Background */
    background: #222;

}

#editor, #output {

    /* Font */
    font-family: monospace;

    /* Disable outline, it just looks bad */
    outline: none;

    /* Padding */
    padding: 10px;
    box-sizing: border-box;
}

#output {
    white-space: pre-wrap;
    word-break: break-word;
}

#data, #debug {
    background: #5554;
    padding: 10px;
}
#data * {
    padding: 5px;
    box-sizing: border-box;
}

#documentation {
    font-family: sans-serif;
    font-size: 0.8em;
}

#documentation h1:first-child {
    margin: 0;
}

#documentation h1 {
    font-size: 1.2em;
}

#run {
    /* The color of Pepe */
    background: #5A8D3E;
    color: white;

    /* Width of 4 characters (Length of "Stop") */
    width: 4ch;
    box-sizing: content-box;
}

.options, summary:not(.buttons) {
    margin: 10px;
}
summary {
    padding: 0 5px;
}
summary:active:focus {
    background: #5554;
}
summary:focus {
    outline: none;
}
summary::-moz-focus-inner {
    border: 0;
}

.options > * {
    display: flex;
    font-family: monospace;
    font-size: inherit;
    text-align: start;
    box-sizing: border-box;
    border: none;
    width: 100%;
    margin: 4px 0;
    padding: 10px;
    background: #fff2;
}

.options > * > span {
    flex-grow: 1;
}

#suggestions.options > * {
    margin: 2px 0;
    padding: 4px;
    font-size: 0.8em;
    background: #aaa1;
}

#unit-tests .options > :first-child,  /* Interactive */
#unit-tests .options > :last-child    /* New test */
{
    background: #fff4;
    margin: 8px 0;
}
#return {
    display: none;
}

/* Stacks container */
#stacks {
    display: flex;
    margin: 5px;
}

/* Stack */
#stacks > div {
    flex-grow: 1;
    margin: 5px;
}

/* Active stack */
#stacks > div.active {
    background: #aaa1;
}

/* Stack contents */
#stacks .items {
    display: flex;
    margin: 15px 10px;
}

/* Stack header */
#stacks h2 {
    margin: 15px 10px;
}

/* Stack items */
#stacks .items * {
    display: inline-block;
    background: #aaa1;
    padding: 3.5px 8px;
    margin: 0 4px;
}

/* Selected stack item */
#stacks .items .selected {
    background: #5A8D3E
}

.view {
    /* Maximum height */
    height: 100%;  /* Box */
    flex-grow: 1;  /* Flex */
}

.scroll, .view {

    /* Enable vertical scroll */
    overflow-y: auto;
}

.buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.buttons h1 {
    margin-left: 15px;
}

.buttons * {
    vertical-align: middle;
}

.buttons .rename {
    background: none;
    border: none;
    font: inherit;
    text-transform: none;
}

.action {
    display: none;
}
.action:first-child {
    margin-left: auto;
}
:hover > .action {
    display: block;
}

.circle {
    border-radius: 50%;
    border: 1px solid white;
    width: 5px;
    height: 5px;
    margin: 10px;
    margin-left: auto;
    cursor: pointer;
}

.float-right {
    float: right;
}

.col-50 {

    /* View each column next to each other */
    float: left;
    width: 50%;

    /* Include border in the width */
    box-sizing: border-box;

    /* No margin */
    margin: 0;
}

@media (max-width: 850px) {

    /* Disable column view on small devices */
    .col-50 {
        float: none;
        width: initial;
    }

    /* Restore doc header margin */
    #documentation h1:first-child {
        margin-top: 1em;
    }

    /* Decrease subroot height */
    body > div {

        height: 50%;

    }

}

/* Syntax highlighting colors */
.comment {
    color: #6a9955;
}

.ignored {
    color: #a2c592;
}

.flag {
    color: #aaa;
}

.breakpoint {
    color: #fe8282;
}

.invalid {
    text-decoration: #e63838 wavy underline;
}

/* Bugfix for Chrome not showing correct font color */
#editor font {
    color: inherit;
}

/* Output colors */
.info {
    color: #3a9be0;
}

.success {
    color: #5a8d3e;
}

.error {
    color: #e63838;
}

/* Test button colors */
.passed {
    background: #5a8d3e;
}

.failed {
    background: #e63838;
}
